{% extends 'dashboard/dashboard_base.html' %}
{% load jalali_tags %}

{% block page_title %}
    لیست
    {{ page_name }}
    ها
{% endblock %}

{% block dashboard_heading %}

{% endblock %}

{% block dashboard_content %}
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary d-inline">
                    لیست
                    {{ page_name }}
                    ها
                </h6>
            </div>
            <div class="card-body">
                {% if output_msg %}
                    <div class="alert alert-{{ output_msg.color }} text-center" role="alert">
                        {{ output_msg.text }}
                    </div>
                    <a href="{% url 'dashboard:exam_list' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به لیست
                        {{ page_name }}
                        ها
                    </a>
                    <a href="{% url 'dashboard:me_view' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به پنل کاربری
                    </a>
                {% elif all_out %}
                    {% for i in all_out %}
                        <div class="alert
                        {% if i.is_active %}
                            alert-success
                        {% else %}
                            alert-secondary
                        {% endif %}
                        text-center pb-3" role="alert">
                            <a class="text-decoration-none text-dark mb-3">
                                آزمون:
                                {{ i }}
                            </a>
                            <div class="row mt-3">
                                <div class="col-sm text-center">
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr>
                                            <th scope="col">تعداد کل سوالات:</th>
                                            <th scope="col">{{ i.exam_question.count }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">کلاس :</th>
                                            <td>{{ i.exam_klass }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">طراح :</th>
                                            <td>{{ i.exam_creator.user.get_full_name }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4 text-center">
                                    {% if i.is_active %}
                                        <span class="btn btn-outline-primary btn-sm btn-block">
                                                آزمون فعال است
                                            </span>
                                    {% else %}
                                        <span class="btn btn-outline-danger btn-sm btn-block">
                                    زمان آزمون گذشته است
                                </span>
                                    {% endif %}
                                    <span class="btn btn-outline-dark btn-sm btn-block">
                                        زمان شروع:
                                        {{ i.exam_start|to_jalali:'%Y/%m/%d, %H:%M' }}
                                </span>
                                    <span class="btn btn-outline-dark btn-sm btn-block">
                                        زمان پایان:
                                        {{ i.exam_finish|to_jalali:'%Y/%m/%d, %H:%M' }}
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'dashboard/_pagination_template.html' with function_return_name=all_out page_name='page' long='True' long_list=page_range %}
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ all_out.error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}