{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block page_title %}
    لیست
    {{ page_name }}
    ها
{% endblock %}

{% block dashboard_heading %}

{% endblock %}

{% block dashboard_content %}
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-sm">
                        <h6 class="my-2 font-weight-bold text-primary d-inline-block">
                            لیست
                            {{ page_name }}
                            ها
                        </h6>
                        <a href="{% url 'dashboard:list_all' name='student' %}" class="badge badge-pill badge-info">
                            لیست کامل
                        </a>
                    </div>
                    <div class="col-sm-5">
                        <form method="post" action="" class="form-inline my-2 my-lg-0 float-lg-left">
                            {% csrf_token %}
                            <input class="form-control ml-sm-2 btn-sm" type="search"
                                   placeholder="نام یا کد ملی را وارد کنید"
                                   aria-label="Search" name="search_content">
                            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">
                                جستجو
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if output_msg %}
                    <div class="alert alert-{{ output_msg.color }} text-center" role="alert">
                        {{ output_msg.text }}
                    </div>
                    <a href="{% url 'dashboard:list_student' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به لیست
                        {{ page_name }}
                        ها
                    </a>
                    <a href="{% url 'dashboard:me_view' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به پنل کاربری
                    </a>
                {% elif all_student %}
                    {% for i in all_student %}
                        <div class="alert-secondary p-3 mb-3 text-center" role="alert">
                            <div class="row">
                                <div class="col-sm my-lg-0 my-2">
                                    <div class="image ml-2"><img
                                            {% if i.profile_image %}
                                                src="{{ i.profile_image.url }}"
                                            {% else %}
                                                src="{% static 'dashboard/img/no_pic.png' %}"
                                            {% endif %}
                                                class="img-profile rounded-circle"
                                                style="max-height: 170px; max-width: 170px">
                                    </div>
                                </div>
                                <div class="col-sm my-lg-0 my-2">
                                    <h5 class="mb-3 mt-lg-0 mt-2">{{ i.user.get_full_name }}</h5>
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr class="p-0">
                                            <th class="p-1 text-left" scope="row">آموزشگاه:</th>
                                            <td class="p-1 text-right">{{ i.academy.name }}</td>
                                        </tr>
                                        <tr class="p-0">
                                            <th class="p-1 text-left" scope="row">کلاس:</th>
                                            <td class="p-1 text-right">{{ i.klass.all.0.name }}</td>
                                        </tr>
                                        <tr class="p-0">
                                            <th class="p-1 text-left" scope="row">تلفن:</th>
                                            <td class="p-1 text-right">{{ i.phone_number }}</td>
                                        </tr>
                                        <tr>
                                            <th class="p-1 text-left" scope="row">کد ملی:</th>
                                            <td class="p-1 text-right">{{ i.passport_number }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm my-lg-0 my-2 pt-lg-4">
                                    <a href="{% url 'dashboard:extra_score_checker_student' stu_id=i.user.pk %}"
                                       class="btn btn-outline-success btn-sm btn-block">محاسبه مجدد تمامی نمرات</a>
                                    <a href="{% url 'dashboard:changepass_user' name='user' user_id=i.user.pk %}"
                                       class="btn btn-outline-primary btn-sm btn-block">تغییر رمز</a>
                                    <a href="{% url 'dashboard:delete_none_uuid' name='user' obj_id=i.user.pk %}"
                                       class="btn btn-outline-danger btn-sm btn-block">حذف کاربر</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'dashboard/_pagination_template.html' with function_return_name=all_student page_name='page' long='True' long_list=page_range %}
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ all_student.error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}