{% extends 'dashboard/dashboard_base.html' %}
{% load jalali_tags %}

{% block page_title %}
    لیست
    {{ page_name }}
    ها
{% endblock %}

{% block dashboard_heading %}

{% endblock %}

{% block dashboard_content %}
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-sm mb-lg-0 m-2">
                        <h6 class="m-0 font-weight-bold text-primary d-inline">
                            لیست
                            {{ page_name }}
                            ها
                        </h6>
                    </div>
                    <div class="col-sm-3 d-inline-block">
                        <a href="{% url 'dashboard:exam_score_excel' exa_id=exa_id %}" class="btn btn-sm btn-outline-success btn-block">
                            دریافت خروجی اکسل
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if output_msg %}
                    <div class="alert alert-{{ output_msg.color }} text-center" role="alert">
                        {{ output_msg.text }}
                    </div>
                    <a href="{% url 'dashboard:exam_score' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به لیست
                        {{ page_name }}
                        ها
                    </a>
                    <a href="{% url 'dashboard:me_view' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به پنل کاربری
                    </a>
                {% elif all_score %}
                    <div class="table-responsive">
                        <table id="crypto-transaction" class="table table-hover table-xl trans-wrapper">
                            <thead>
                            <tr>
                                <th class="border-top-0">نام و نام خانوادگی</th>
                                <th class="border-top-0">کد ملی</th>
                                <th class="border-top-0">کل پاسخ ها</th>
                                <th class="border-top-0">نمره</th>
                                <th class="border-top-0">درصد</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in all_score %}
                                <tr>
                                    <td>
                                        <div class="Trans-id">{{ i.student.user.get_full_name }}</div>
                                    </td>
                                    <td>
                                        <div class="time">{{ i.student.passport_number }}</div>
                                    </td>
                                    <td>
                                        <div class="amount">
                                            {{ i.all_questions }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="time">{{ i.score|floatformat }}</div>
                                    </td>
                                    <td>
                                        <div class="time">% {{ i.percentage|floatformat }}</div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'dashboard/_pagination_template.html' with function_return_name=all_score page_name='page' %}
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ all_out.error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}