{% extends 'dashboard/dashboard_base.html' %}

{% block page_title %}
    مدیریت
    {{ page_name }}
    ها
{% endblock %}

{% block dashboard_heading %}

{% endblock %}

{% block dashboard_content %}
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary d-inline">
                    مدیریت
                    {{ page_name }}
                    ها
                </h6>
                <a href="{% url 'dashboard:exam_create' %}" class="btn btn-success btn-sm float-left">
                    ساخت
                    {{ page_name }}
                    جدید
                </a>
            </div>
            <div class="card-body">
                {% if output_msg %}
                    <div class="alert alert-{{ output_msg.color }} text-center" role="alert">
                        {{ output_msg.text }}
                    </div>
                    <a href="{% url 'dashboard:exam_manage' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به لیست
                        {{ page_name }}
                        ها
                    </a>
                    <a href="{% url 'dashboard:me_view' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به پنل کاربری
                    </a>
                {% elif all_exam %}
                    {% for i in all_exam %}
                        <div class="alert
                        {% if i.is_active %}
                            alert-success
                        {% else %}
                            alert-secondary
                        {% endif %}
                         text-center pb-3" role="alert">
                            <div class="row">
                                <div class="col-sm my-lg-0 my-2">
                                    <span class="text-decoration-none text-dark d-block">
                                {{ i }}
                            </span>
                                </div>
                                <div class="col-sm-2 my-lg-0 my-2">
                                    <a href="{% url 'dashboard:exam_change' exa_id=i.pk %}"
                                       class="btn btn-outline-primary btn-sm btn-block">
                                        ویرایش
                                    </a>
                                </div>
                                <div class="col-sm-2 my-lg-0 my-2">
                                    <a href="{% url 'dashboard:delete_uuid' name='exam' obj_uuid=i.pk %}"
                                       class="btn btn-outline-danger btn-sm btn-block">
                                        حذف
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'dashboard/_pagination_template.html' with function_return_name=all_exam page_name='page' %}
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ all_exam.error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}