{% extends 'dashboard/dashboard_base.html' %}
{% load jalali_tags %}

{% block page_title %}
    {{ page_name }}
{% endblock %}

{% block dashboard_heading %}

{% endblock %}

{% block dashboard_content %}
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-sm mb-lg-0 m-2">
                        <h6 class="m-0 font-weight-bold text-primary d-inline">
                            {{ page_name }}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if output_msg %}
                    <div class="alert alert-{{ output_msg.color }} text-center" role="alert">
                        {{ output_msg.text }}
                    </div>
                    <a href="{% url 'dashboard:exam_score' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به لیست
                        نمره
                        ها
                    </a>
                    <a href="{% url 'dashboard:me_view' %}" type="submit" class="btn btn-light btn-block mt-2">
                        بازگشت به پنل کاربری
                    </a>
                {% elif all_score %}

                    <div class="table-responsive">
                        <table id="crypto-transaction" class="table table-hover table-xl trans-wrapper">
                            <thead>
                            <tr>
                                <th class="border-top-0">سوال</th>
                                <th class="border-top-0">گزینه صحیح</th>
                                <th class="border-top-0">پاسخ دانش آموز</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in all_score %}
                                <tr>
                                    {% for j,k in i %}
                                        <td>
                                            <div class="Trans-id text-{{ k }}" style="font-size: 13px">{{ j }}
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ all_out.error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}