{% extends 'dashboard/dashboard_base.html' %}
{% load jalali_tags %}

{% block page_title %}
    مدیریت نمره ها
{% endblock %}

{% block dashboard_heading %}

{% endblock %}

{% block dashboard_content %}
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    مدیریت نمره ها
                </h6>
            </div>
            <div class="card-body">
                {% for i in g_i_a_v.dashboard.score %}
                    <div class="alert alert-secondary text-center pb-3" role="alert">
                        <a href="#"
                           class="text-decoration-none text-dark">
                            نمره
                            {{ i }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}