<form action="" method="post" class="all-forms-style table-responsive">
    {% csrf_token %}

    {% include 'dashboard/_form_group_layout.html' with field=id.exam_name error=id.errors.exam_name %}
    {% include 'dashboard/_form_group_layout.html' with field=id.exam_klass error=id.errors.exam_klass %}
    {% include 'dashboard/_form_group_layout.html' with field=id.exam_duration error=id.errors.exam_duration %}
    {% include 'dashboard/_form_group_layout.html' with field=id.exam_start_time error=id.errors.exam_start_time %}
    {% include 'dashboard/_form_group_layout.html' with field=id.exam_end_time error=id.errors.exam_end_time %}
    {% include 'dashboard/_form_group_layout.html' with field=id.exam_question error=id.errors.exam_question %}
    {% include 'dashboard/_form_group_layout.html' with field=id.exam_guide error=id.errors.exam_guide %}

    <button type="submit" class="btn btn-success btn-lg btn-block">ساخت آزمون</button>
</form>