{% load static %}

<style>
    @font-face {
        font-family: 'TahrirRegular';
        src: url('{% static 'dashboard/webfonts/eot/TahrirRegular.eot' %}'); /* IE9 Compat Modes */
        src: url('{% static 'dashboard/webfonts/eot/TahrirRegular.eot' %}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('{% static 'dashboard/webfonts/woff2/TahrirRegular.woff2' %}') format('woff2'), /* Super Modern Browsers */
             url('{% static 'dashboard/webfonts/woff/TahrirRegular.woff' %}') format('woff'), /* Pretty Modern Browsers */
             url('{% static 'dashboard/webfonts/ttf/Tahrir_Regular.ttf' %}') format('truetype'); /* Safari, Android, iOS */
             {#url('{% static 'dashboard/webfonts/eot/TahrirRegular.eot' %}#svgFontName') format('svg'); /* Legacy iOS */#}
    }
    @font-face {
        font-family: 'IRANSans5';
        src: url('{% static 'dashboard/webfonts/eot/IRANSansWeb.eot' %}'); /* IE9 Compat Modes */
        src: url('{% static 'dashboard/webfonts/eot/IRANSansWeb.eot' %}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('{% static 'dashboard/webfonts/woff2/IRANSansWeb.woff2' %}') format('woff2'), /* Super Modern Browsers */
             url('{% static 'dashboard/webfonts/woff/IRANSansWeb.woff' %}') format('woff'), /* Pretty Modern Browsers */
             url('{% static 'dashboard/webfonts/ttf/IRANSansWeb.ttf' %}') format('truetype'); /* Safari, Android, iOS */
             {#url('{% static 'dashboard/webfonts/eot/TahrirRegular.eot' %}#svgFontName') format('svg'); /* Legacy iOS */#}
    }
    @font-face {
        font-family: 'IRANSans5FaNum';
        src: url('{% static 'dashboard/webfonts/eot/IRANSansWeb(FaNum).eot' %}'); /* IE9 Compat Modes */
        src: url('{% static 'dashboard/webfonts/eot/IRANSansWeb(FaNum).eot' %}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('{% static 'dashboard/webfonts/woff2/IRANSansWeb(FaNum).woff2' %}') format('woff2'), /* Super Modern Browsers */
             url('{% static 'dashboard/webfonts/woff/IRANSansWeb(FaNum).woff' %}') format('woff'), /* Pretty Modern Browsers */
             url('{% static 'dashboard/webfonts/ttf/IRANSansWeb(FaNum).ttf' %}') format('truetype'); /* Safari, Android, iOS */
             {#url('{% static 'dashboard/webfonts/eot/TahrirRegular.eot' %}#svgFontName') format('svg'); /* Legacy iOS */#}
    }
</style>