<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            مشخصات شما
        </h6>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr class="table-borderless">
                    <th scope="row">
                        <i class="fas fa-id-badge ml-2"></i>
                        نام کاربری :
                    </th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="fas fa-envelope ml-2"></i>
                        آدرس ایمیل :
                    </th>
                    <td>{{ change_profile_user_model.email }}</td>
                </tr>
                {% if change_profile_user_model.email.errors %}
                    {% include 'dashboard/_error_alart.html' with field=change_profile_user_model.email %}
                {% endif %}
                <tr>
                    <th scope="row">
                        <i class="fas fa-user ml-2"></i>
                        نام :
                    </th>
                    <td>{{ change_profile_user_model.first_name }}</td>
                </tr>
                {% if change_profile_user_model.first_name.errors %}
                    {% include 'dashboard/_error_alart.html' with field=change_profile_user_model.first_name %}
                {% endif %}
                <tr>
                    <th scope="row">
                        <i class="fas fa-user ml-2"></i>
                        نام خانوادگی :
                    </th>
                    <td>{{ change_profile_user_model.last_name }}</td>
                </tr>
                {% if change_profile_user_model.last_name.errors %}
                    {% include 'dashboard/_error_alart.html' with field=change_profile_user_model.last_name %}
                {% endif %}
                <tr>
                    <th scope="row">
                        <i class="fas fa-id-card ml-2"></i>
                        کد ملی :
                    </th>
                    <td>{{ change_profile.passport_number }}</td>
                </tr>
                {% if change_profile.passport_number.errors %}
                    {% include 'dashboard/_error_alart.html' with field=change_profile.passport_number %}
                {% endif %}
                <tr>
                    <th scope="row">
                        <i class="fas fa-birthday-cake ml-2"></i>
                        تاریخ تولد :
                    </th>
                    <td class="input-profile-edit">{{ change_profile.birth_date }}</td>
                </tr>
                {% if change_profile.birth_date.errors %}
                    {% include 'dashboard/_error_alart.html' with field=change_profile.birth_date %}
                {% endif %}
                <tr>
                    <th scope="row">
                        <i class="fas fa-mobile ml-2"></i>
                        تلفن همراه :
                    </th>
                    <td>{{ change_profile.phone_number }}</td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="fas fa-camera ml-2"></i>
                        نمایه کاربری :
                    </th>
                    <td>{{ change_profile.profile_image }}</td>
                </tr>
                {% if change_profile.phone_number.errors %}
                    {% include 'dashboard/_error_alart.html' with field=change_profile.phone_number %}
                {% endif %}
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">
                        ثبت تغییرات
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>